on: push
name: SonarCloud with Coverage
jobs:
  sonarCloudTrigger:
    name: SonarCloud Trigger
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: setup dotnet with global tool support
      uses: casz/setup-dotnet@fix/dotnet-global-tool
      with:
        dotnet-version: '3.1.100'
    - name: install sonarscanner
      run: dotnet tool install -g dotnet-sonarscanner --version 4.8.0
    - name: sonar begin
      run: dotnet sonarscanner begin -k:"Burwin_JsonCryption" -n:"JsonCryption" -o:"burwin" -d:sonar.cs.opencover.reportsPaths="./SonarQube.xml" -d:sonar.host.url="https://sonarcloud.io" -d:sonar.login=${{ secrets.SONAR_TOKEN_V1 }} -d:sonar-verbose=true
    - name: build solution
      run: dotnet build ./src
    - name: test solution
      run: dotnet test --collect:"XPlat Code Coverage"
      working-directory: ./src
    - name: install reportgenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool
    - name: generate solution coverage report
      run: reportgenerator "-reports:./src/*/TestResults/*/coverage.cobertura.xml" "-targetdir:." "-reporttypes:SonarQube"
    - name: sonar end
      run: dotnet sonarscanner end -d:sonar.login=${{ secrets.SONAR_TOKEN_V1 }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    - name: save artifacts
      uses: actions/upload-artifact@v1
      with:
        name: SonarQube_coverage
        path: ./SonarQube.xml
